@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "blox";
  src: url("/Blox2.ttf")
}

@font-face {
  font-family: "traffo";
  src: url("/Traffolight.otf")
}

/* Below is for the Hack Club flag */
.banner {
  position: fixed;
  top: 0;
  left: 0;
}

.banner img {
  max-width: 25%;
}

.banner:hover img {
  animation: wave-flag 0.5s linear infinite alternate;
  transform-origin: top left;
}

@media (prefers-reduced-motion: reduce) {
  .banner:hover img {
    transition: 0.1875s cubic-bezier(0.375, 0, 0.675, 1) transform;
    transform-origin: top left;
  }
}

@keyframes wave-flag {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.3;
  }

  100% {
    transform: scale(0.8);
    opacity: 0.7;
  }
}

.animate-pulse-circle {
  animation: pulse 2s ease-in-out infinite;
}